{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/app2/style.css' %} ">
</head>

<body>
   <center><h1>WELCOME TO PAGE</h1></center>
   
   <img src="{% static 'images/img1.jpeg' %}" height="30%" width="30%" alt="jyoti">
   <video width="14%" controls>
    <source src="{% static 'video/paniyo_sa.mp4' %}" type="video/mp4">
   </video>

   <img src="{% static 'images/image2.webp' %}" height="30%" width="30%" alt="jyoti">
   <video width="11%" controls>
    <source src="{% static 'video/v1.mp4' %}" type="video/mp4">
   </video>

   
</body>

</html>  